<div class="page page-form-validate">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Sources</a>
        </li>
        <li>
          <a ui-sref="app.forms.validate">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">


      <!-- col -->
      <div class="col-md-12">


        <form name="deleteForm" ng-submit="deleteSource(deleteForm.$valid)" role="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : userForm.industry_category.$invalid && !userForm.industry_category.$pristine, 'has-success' : userForm.industry_category.$valid && !userForm.industry_category.$pristine}">
            <label for="industry_category">Industry Category: </label>
            <select name="industry_category" id="industry_category" class="form-control mb-10 ng-touched ng-dirty ng-valid-parse ng-valid ng-valid-required" ng-model="source.add.industry_category" required="" aria-required="false" aria-invalid="false" style="" ng-options="item.id as item.name for item in industry_category_choices">
              <option value="">Select option... </option><option value="foo">Foo </option>
              <option value="bar">Bar </option>
              <p class="help-block">
                <span ng-show="userForm.industry_category.$invalid && !userForm.industry_category.$pristine">industry category is required.</span>
                <span ng-show="userForm.industry_category.$error.minlength">industry category is too short.</span>
                <span ng-show="userForm.industry_category.$error.maxlength">industry category is too long.</span>
              </p>
            </select>
          </div>



        </form>






      </div>
      <!-- /col -->







    </div>
    <!-- /row -->





  </div>
  <!-- /page content -->




</div>
