<div class="page page-form-validate">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Sources</a>
        </li>
        <li>
          <a ui-sref="app.forms.validate">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <button class="btn btn-primary" ui-sref="app.add_source">Add Source</button>
        <br><br>

        <li ng-repeat="item in source_list" class="list-group-item b-{{item.name}}">
        <section class="tile" fullscreen="isFullscreen13">


          <!-- tile header -->

          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.name}}</strong></h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">

                <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <!--<li>-->
                    <!--<a href tile-control-toggle>-->
                      <!--<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>-->
                      <!--<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Get source details
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen13 = !isFullscreen13">
                      <fa name="expand"></fa> Update Source
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen13 = !isFullscreen13">
                      <fa name="expand"></fa> Delete Source
                    </a>
                  </li>

                </ul>

              </li>
              <!--<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>-->
            </ul>
          </div>

          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
            This is the body of the kkkk

          </div>
          <!-- /tile body -->

        </section>
        </li>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->


    <!-- row -->
    <div class="row">

    <!--<div class="p-15 bg-white b-b">-->
      <!--<div ng-repeat="item in source_list" class="list-group-item b-primary">-->
      <!--&lt;!&ndash; col &ndash;&gt;-->

        <!--<div class="col-md-12">-->
          <!--<p>{{item.name}}</p>-->
          <!--<p>{{item.website}}</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; /col &ndash;&gt;-->

      <!--</div>-->

    <!--</div>-->



    </div>






  </div>
  <!-- /page content -->




</div>
